/* assets */ 
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components  {
    /* defaults */
    body .justified-gallery-filterbar button {
        @apply text-neutral-700 border-neutral-700 border-2 mt-8 mb-4;
    }
    h1,h2,h3,h4,h5,h6 {
        @apply mb-4 font-bold;
    }
    h2 {
        @apply text-3xl;
    }
    h3 {
        @apply mb-5;
    }
    p {
        @apply mb-5;
    }
    a {
        @apply text-secondary-700;
    }
    ol, ul {
        @apply mb-7;
    }
    ol li, ul li {
        @apply pl-2 mb-3;
    }
    ol li {
        @apply list-decimal;
    }
    ul li {
        @apply list-disc;
    }
    /* custom classes */
    .icon-container {
        @apply relative border-solid border-[3px] border-neutral-700 rounded-full bg-neutral-200 hidden md:flex md:justify-center md:items-center;
    }
}

@font-face {
    font-family: "Aldrich-Regular";
    src: url('/fonts/Aldrich/Aldrich-Regular.ttf') format('truetype');
}

/* Custom CSS */

html {
    font-family: "Aldrich-Regular";
}

.justified-gallery-filterbar button:first-child {
    display: none;
}

.prose :where(h1):not(:where([class~="not-prose"] *)) {
    color: white !important;
}

/* Custom CSS end */